{% extends "auctions/layout.html" %}

{% block title %}
    Number {{ auction.id }}
{% endblock %}

{% block cardtitle %}
    {{ auction.title }}
{% endblock %}

{% block body %}
    <div class="card">
        <div style="background-color: #17a2b8; color: #fff;" class="card-header ">
            Auction details
        </div>
        <div class="card-body">
            <h5 class="card-title text-center">Auction reference number {{ auction.id }} - {{ auction.title }} | Seller : <strong>{{ auction.author }}</strong></h5>
            {% if request.user.id == auction.author_id and auction.active %}
                <form action="{% url 'auctions:close' auction.id %}" method="POST">
                    {% csrf_token %}
                    <div class="text-center">
                        <input class="btn btn-danger btn-lg" type="submit" value="Close this auction">
                    </div>
                </form>
            {% endif %}
            <hr>
            <div class="text-center">
                Auction status : {% if auction.active %} <div class="mb-1" style="font-weight: bold; color: green;">Active</div>{% else %}<div class="mb-1" style="font-weight: bold; color: red;">Finished</div>{% endif %}
                {% if highestbid and auction.active == False %}Winner of this auction :<div class="mb-1" style="font-weight: bold; color: green;">{{ highestbid.author }}</div>Final bid : <div class="mb-1" style="font-weight: bold; color: green;">{{ highestbid.amount }} USD</div>{% elif highestbid is None and auction.active == False %}
                <div class="mb-1" style="font-weight: bold; color: red;">Nobody</div>the seller closed before the first bid.{% endif %}
            </div>
            <div class="card-text">
                <div class="card mb-2">
                  <img src="{{ auction.image }}" class="card-img-top" alt="Auction {{ auction.id }} image">
                  <div class="card-body">
                    <h5 class="card-title text-center">{{ auction.title }}</h5>
                    <hr>
                    <p class="card-text">{{ auction.content }}</p>
                    <br>
                    Starting price : <strong>{{ auction.starting_price }} USD</strong>
                    <br>
                    {% if auction.active %}Current{% else %}Final{% endif %} price : {% if highestbid %}<strong style="color: green;">{{ highestbid.amount }} USD</strong> - highest bid made by <strong>{{ highestbid.author }}</strong>.{% else %} No bids made on this auction.{% endif %}
                    <small class="float-right">
                        Category : <strong>{{ auction.category }}</strong>
                    </small>
                    {% if request.user.id != auction.author_id and auction.active %}
                        <hr>
                        <div class="text-center">
                            <form action="{% url 'auctions:bid' auction.id %}" method="POST">
                                {% csrf_token %}
                                {{ bidform.amount }}
                            <input class="btn btn-success mb-2 mt-2" type="submit" value="Bid">
                            </form>
                        </div>
                    {% endif %}
                    <div class="text-center">
                        <form action="{% url 'auctions:watchlist_add' auction.id %}" method="POST">
                            {% csrf_token %}
                            <input class="btn btn-warning mb-1" type="submit" value="Add to watchlist">
                        </form>
                        <form action="{% url 'auctions:watchlist_remove' auction.id %}" method="POST">
                            {% csrf_token %}
                            <input class="btn btn-danger" type="submit" value="Remove from watchlist">
                        </form>
                    </div>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Posted by <strong>{{ auction.author }}</strong> on {{ auction.date }}</small>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div style="background-color: #092327; color: #fff; text-align: left;"class="card-header">
            Auction comments
        </div>
        <div class="card-body">
            {% if comments %}
                <h5 class="card-title">Comments posted on this auction :</h5>
                {% for comment in comments %}
                    <div class="card-text">
                        <div class="card mb-2">
                        <div class="card-body">
                            <p class="card-text">{{ comment.content }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Posted by <strong>{{ comment.author }}</strong> on {{ comment.date }}</small>
                        </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h5 class="card-title">No comments posted on this auction.</h5>   
            {% endif %}
        </div>
        {% if auction.active %}
        <div class="form-group">
            <form action="{% url 'auctions:comment' auction.id %}" method="POST">
            {% csrf_token %}
            {{ commentform.content }}
            <div class="text-center">
                <input style="background-color: #17a2b8; color: #fff;"class="btn mb-2" type="submit" value="Add comment">
            </div>
            </form>
        </div>
        {% endif %}
    </div>

{% endblock %}