{% extends "auctions/layout.html" %}

{% block title %}
    Categories
{% endblock %}

{% block cardtitle %}
    Coluctions Categories
{% endblock %}

{% block body %}
    <h5 class="card-title text-center">Choose one Category to browse :</h5>
    {% for category in categories %}
        <div class="my-3">
            <form action="{% url 'auctions:getcategory' category.id %}">
                <input style="font-size: 2.5rem; background-color: #17a2b8; color: #fff;" class="btn btn-block" type="submit" value="{{ category.name }}">
              </form>
        </div>
    {% endfor %}
{% endblock %}