{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Coluctions (Coloby-Auctions) - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'auctions/css/bootstrap.min.css' %}">
        <link rel="shortcut icon" href="{% static 'auctions/img/Coloby.png' %}" type="image/x-icon">
    </head>
    <body style=" background-color: #17a2b8; font-family: Monospace, fantasy ">
        <header class="mb-3">
            <nav class="navbar navbar-expand-lg navbar-dark ">
                <a class="navbar-brand mr-3 px-3" href="{% url 'auctions:index' %}">
                   <!--  <img style="height: 5em;" src="{% static 'auctions/img/auctionslogo.png' %}" class="d-inline-block" alt="Auctions Logo" loading="lazy"> -->
                    Coluctions
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-1">
                        <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'auctions:index' %}">Home<span class="sr-only">(current)</span></a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item {% if request.path == '/create' %}active{% endif %}">
                                <a class="nav-link" href="{% url 'auctions:create' %}">Create list</a>
                            </li>
                            <li class="nav-item {% if request.path == '/categories' %}active{% endif %}">
                                <a class="nav-link" href="{% url 'auctions:categories' %}">Categories</a>
                            </li>
                            <li class="nav-item {% if request.path == '/mylist' %}active{% endif %}">
                                <a class="nav-link" href="{% url 'auctions:mylist' %}">Watchlist</a>
                            </li>
                            <li class="nav-item {% if request.path == '/logout' %}active{% endif %}">
                                <a class="nav-link" href="{% url 'auctions:logout' %}">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item {% if request.path == '/categories' %}active{% endif %}">
                                <a class="nav-link" href="{% url 'auctions:categories' %}">Categories</a>
                            </li>
                            <li class="nav-item {% if request.path == '/login' %}active{% endif %}">
                                <a class="nav-link" href="{% url 'auctions:login' %}">Login</a>
                            </li>
                            <li class="nav-item {% if request.path == '/register' %}active{% endif %}">
                                <a class="nav-link" href="{% url 'auctions:register' %}">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                    <span class="navbar-text mr-auto text-white" style="font-size: 0.8rem;">
                        {% if user.is_authenticated %}
                        <u> Signed in as <strong>{{ user.username }}</strong></u>.
                        {% else %}
                           <u> Not signed in.</u>
                        {% endif %}
                    </span> 
                    <form class="form-inline my-2 my-lg-0" action="{% url 'auctions:search' %}" method="POST">
                        {% csrf_token %}
                        {{ searchform.search }}
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </header>
        <div style="background-color: inherit;" class="container">
            {% if messages %}
                    {% for message in messages %}
                    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </div>
                    {% endfor %}
            {% endif %}
            <div style="background-color: #fff;" class="card mb-3">
                <div class="text-center">
                    <div class="card-header " style="line-height: 4rem; font-size: 2rem; font-weight: bold; color: black;">{% block cardtitle %}{% endblock %}</div>
                </div>
                <div class="card-body">
                  <div class="card-text">{% block body %}{% endblock %}</div>
                </div>
            </div>
        </div>
        <footer class="page-footer font-small">
            <div style="color: #fff;"class="footer footer-copyright text-center">
              <a class="btn text-white" href="{% url 'auctions:index' %}">Coluctions by Coloby</a>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="{% static 'auctions/js/bootstrap.min.js' %}"></script>
    </body>
</html>
